@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins), 'Poppins', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), 'Poppins', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Video Modal - CSS-only with :target */
#video-modal {
  display: none;
}

#video-modal:target {
  display: flex;
}

/* Hide Swiper pagination everywhere */
.swiper-pagination,
.swiper-pagination-clickable,
.swiper-pagination-bullets,
.swiper-pagination-horizontal {
  display: none !important;
}

.latest-insights-swiper {
  padding-bottom: 0rem !important;
}

.work-sustainability-swiper {
  padding-bottom: 0rem !important;
}

.similar-products-swiper {
  padding-bottom: 0rem !important;
}
.product-accessories-swiper {
  padding-bottom: 0rem !important;
}

body {
  background-color: #f9fafb !important;
}

.articals_detials h1
{
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}
.articals_detials h2
{
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
}

.articals_detials h3
{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}


.articals_detials h4
{
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.articals_detials h1,
.articals_detials h2,
.articals_detials h3,
.articals_detials h4,
.articals_detials h5,
.articals_detials h6
{
  margin-bottom: 7px;
}
.articals_detials p,
.articals_detials ul,
.articals_detials li,
.articals_detials ol
{
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  body .product-sustainability-series-swiper {
    padding-bottom: 0rem !important;
}
body .product-features-swiper {
  padding-bottom: 0rem;
}
body .swiper-button-prev-similar {
  right: 2rem !important;
  top: -2.6rem !important;
}
body .swiper-button-prev-similar, body .swiper-button-next-similar {
  top: -2.6rem !important;
}
}